<!-- Sidebar -->
<div id="sidebar">
  <div class="inner">
    <header class="major">
      <h2><a href="{{ '/' | absolute_url }}">{{ site.title }}</a></h2>
    </header>

    <nav id="menu">
      <!-- <header class="major"> -->
        <!-- <h2><a href="{{ '/' | absolute_url }}">Databases</a></h2> -->
        <!-- <ul><li><b><br>Databases</b></li></ul> -->
      <!-- </header> -->
      <ul>
        <li><a href="index.html#general">General</a></li>
        <li><a href="index.html#tariffs">Tariffs</a></li>
        <li><a href="index.html#statistics">Statistics</a></li>
        <li><a href="index.html#customs-classification">Customs Classification</a></li>
        <li><a href="index.html#non-tariff-measures">Non-tariff Measures</a></li>
        <li><a href="index.html#wto">WTO</a></li>
        <li><a href="index.html#visualization">Visualization</a></li>
        <li><a href="index.html#services">Services</a></li>
        <li><a href="index.html#economic">Economic</a></li>
        <li><a href="index.html#other">Other</a></li>
        <!-- <li><a href="{{ 'databases/db-trade.html' | absolute_url }}">Trade</a></li> -->
      </ul>
    </nav>

      <nav id="menu">
        <!-- <ul><li><b><br>Articles</b></li></ul> -->
        <!-- <header class="major">
          <h2><a href="{{ '/' | absolute_url }}">Articles</a></h2>
        </header> -->
        <ul>
          <br>
          <li><a href="{{ 'about.html' | absolute_url }}">About</a></li>
          <!-- <li><a href="{{ 'categories.html' | absolute_url }}">All Posts</a></li> -->
        </ul>
      </nav>

    <!-- Footer -->
      <footer id="footer">
        <p class="copyright">&copy; {{ site.title }}. All rights reserved. <BR>Design: <a href="https://html5up.net">HTML5 UP</a>. </p>
      </footer>
  </div>
</div>
