<section id="one" class="tiles">


        <article style="background-image: url(&quot;assets/images/pic01.jpg&quot;);">
                <span class="image" style="display: none;">
                        <img src="assets/images/pic01.jpg" alt="">
                </span>
                <header class="major">
                        <h3><a href="/data.html#trade" class="link">Trade</a></h3>
                        <p>Ipsum dolor sit amet</p>
                </header>
        <a href="/2016/08/25/aliquam.html" class="link primary"></a></article>



        <article style="background-image: url(&quot;assets/images/pic02.jpg&quot;);">
                <span class="image" style="display: none;">
                        <img src="assets/images/pic02.jpg" alt="">
                </span>
                <header class="major">
                        <h3><a href="/2016/08/24/tempus.html" class="link">Tempus</a></h3>
                        <p>Feugiat amet tempus</p>
                </header>
        <a href="/2016/08/24/tempus.html" class="link primary"></a></article>



        <article style="background-image: url(&quot;assets/images/pic03.jpg&quot;);">
                <span class="image" style="display: none;">
                        <img src="assets/images/pic03.jpg" alt="">
                </span>
                <header class="major">
                        <h3><a href="/2016/08/23/magna.html" class="link">Magna</a></h3>
                        <p>Lorem etiam nullam</p>
                </header>
        <a href="/2016/08/23/magna.html" class="link primary"></a></article>



        <article style="background-image: url(&quot;assets/images/pic04.jpg&quot;);">
                <span class="image" style="display: none;">
                        <img src="assets/images/pic04.jpg" alt="">
                </span>
                <header class="major">
                        <h3><a href="/2016/08/22/ipsum.html" class="link">Ipsum</a></h3>
                        <p>Nisl sed aliquam</p>
                </header>
        <a href="/2016/08/22/ipsum.html" class="link primary"></a></article>



        <article style="background-image: url(&quot;assets/images/pic05.jpg&quot;);">
                <span class="image" style="display: none;">
                        <img src="assets/images/pic05.jpg" alt="">
                </span>
                <header class="major">
                        <h3><a href="/2016/08/21/consequat.html" class="link">Consequat</a></h3>
                        <p>Ipsum dolor sit amet</p>
                </header>
        <a href="/2016/08/21/consequat.html" class="link primary"></a></article>



        <article style="background-image: url(&quot;assets/images/pic06.jpg&quot;);">
                <span class="image" style="display: none;">
                        <img src="assets/images/pic06.jpg" alt="">
                </span>
                <header class="major">
                        <h3><a href="/2016/08/20/etiam.html" class="link">Etiam</a></h3>
                        <p>Feugiat amet tempus</p>
                </header>
        <a href="/2016/08/20/etiam.html" class="link primary"></a></article>















</section>
